body {
    background-color: white;
    padding: 10px;
    margin: 0;
}

h1, h2, p, ul, li {
    font-family: sans-serif;
}

.auction-header {
    background-color: #4C74DC;
    color: white;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Dashboard {
    margin-top: -30px;
}

.Dashboard :hover {
    background-color: #5873FF;
}

.auction-header h1 {
    text-shadow: 2px 2px black;
}

.auction-header ul {
    list-style-type: none;
    margin: 0;
    padding: 3;
}

.auction-header li {
    display: inline;
    color: white;
    text-align: center;
    padding: 2px 4px;
    text-decoration: none;
}

.auction-header li :link {
    color: white;
    text-decoration: none;
}

.auction-header li :visited {
    color: white;
    text-decoration: none;
}

.auction-header li :active {
    color: black;
    text-decoration: underline;
}

.auction-header li :hover {
    background-color: #5873FF;
    text-decoration: none;
}

.second-nav {
    float: right;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: #111;
    padding: 0;
}

ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    background-color: #FFF;
    padding: 20px;
  }

.content h2 {
    padding: 0;
    margin: 0;
  }

.content li {
    margin-bottom: 10px;
  }

.sellitems-box {
    background-color: #E6E6E6;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    width: 770px;
    height: 670px;
}

.sellitems-page {
    background-color: #C4C4C4;
    display: table;
    border-radius: 5px;
}

.sell-settings {
    margin-top: -265px;
}

.sell-settings input {
    width: 50%;
    padding: 15px 15px 15px 15px;
    display: table;
    margin: 12px 0;
    border: none;
    background-color: lightgrey;
    border-radius: 5px;
    float: right;
    position: relative;
}

.sell-settings textarea {
    width: 100%;
    height: 350px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: white;
    font-size: 16px;
    resize: none;
    border: none;
    background-color: lightgrey;
}

.sell-settings textarea[type=text]:focus {
    background-color: rgb(129, 127, 127);
    border: none;
}

.sell-settings input[type=text]:focus {
    background-color: rgb(129, 127, 127);
}

.sell-settings input[type=text]::placeholder {
    font-size: 25px;
    align-content: center;
    color: white;
}

.register-form {
    background-color: white;
    box-shadow: 5px 5px 5px 5px #888888;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    display: table;
    text-align: center;
    position: absolute;
}

.register-form p {
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.registerbtn {
    background-color: rgb(105, 105, 247);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.login-form-header label {
    font-size: 20px;
    font-weight: bold;
    background-color: #D6D6D6;
    border-radius: 10px;
    padding: 10px 7px 7px 7px;
    display: table;
}

.login-form {
    background-color: white;
    box-shadow: 5px 5px 5px 5px #888888;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    display: table;
    text-align: center;
    position: absolute;
}

.forgot-password {
    color: rgb(105, 105, 247);
    font-weight: bold;
}

.login-sign-in {
    background-color: rgb(105, 105, 247);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.sign-in-btn {
    background-color: rgb(184, 184, 184);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.featured-items label {
    text-align: center;
    float: left;
    background-color: #dfdbdb;
    padding: 15px;
    box-shadow: 5px 5px 5px #888888;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.featured-items img {
    display: inline-block;
    justify-content: center;
}

.team-help {
    background-color: #4C74DC;
    color: white;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #354ecc;
}

.team-help h2 {
    color: white;
}

.team-help TextField {
    background-color: #4C74DC;
    border-color: #f8f8f8;
    color: #f8f8f8;
}

.browseheader label {
    text-align: center;
    float: left;
    position: relative;
    background-color: #dfdbdb;
    padding: 15px;
    box-shadow: 5px 5px 5px #888888;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Dashboard {
    float: right;
}

.auctionabout-img {
    position: absolute;
}

.team-pictures {
    margin: auto;
    width: 10%;
    border: 2px solid black;
    padding: 2px;
    position: relative;
}

.team-pictures h2 {
    background-color: grey;
    color: white;
    padding: 3px;
}

.search {
    background-color: #4C74DC;
    display: flex;
    width: 100%;
    height: 250px;
}

.search h1 {
    color: white;
    padding-left: 40px;
}

.searchInputs {
    margin-top: 105px;
    display: flex;
    margin-left: -525px;
  }
  
  .search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
    display: table;
  }
  
  .searchIcon {
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
  .dataResult {
    margin-top: 165px;
    margin-left: -380px;
    width: 300px;
    height: 275px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: table;
    align-items: center;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .dataItem h2 {
      padding-top: 10px;
      padding-left: 2px;
      margin-left: 10px;
      text-decoration-line: underline;
  }

  .dataItem h3 {
      margin-left: 15px;
  }

  .dataItem p {
    margin-left: 25px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }

.feat-items {
    margin-top: 15px;
    background-color: #4C74DC;
    color: white;
    border-radius: 10px;
    padding: 10px 7px 7px 7px;
    font-size: 20px;
    font-weight: bold;
    display: table;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px black;
}

#auctionBtns {
    float: right;
    background-color: red;
}

.auction-items {
    background-color: #f0f0f0;
    padding: 10px;
    width: 325px;
    height: 325;
    border: none;
    float: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    position: static;
}

.auction-items button {
    background-color: #98A8FF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    border: 2px white solid;

}

.auction-items h3 {
    background-color: #b4b4b4;
    margin: auto;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
}

#post-price {
    color: rgb(0, 0, 0);
}

.post-startdates {
    text-decoration-line: underline;
}

.post-enddates {
    color: red;
    text-decoration-line: underline;
}

.seasonal-advert {
    background-color: #4361FF;
    display: table;
    padding: 30px 30px 30px 30px;
    height: 254px;
    width: 250px;
    float: left;
}

.seasonal-advert h2 {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.seasonal-advert h3 {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img1 {
    background-color: #5873FF;
    display: table;
    display: inline-block;
    padding: 30px 30px 30px 30px;
}

.img2 {
    background-color: #778DFF;
    display: table;
    display: inline-block;
    padding: 30px 30px 30px 30px;
    width: 600px;
}

.img3 {
    background-color: #98A8FF;
    display: table;
    display: inline-block;
    padding: 30px 30px 30px 30px;
    width: 505px;
    position: absolute;
}

.freq_questions {
    margin-top: 35px;
    background-color: #C4C4C4;
    padding: 10px 10px 10px 10px;
    display: table;
    width: 500px;
    float: right;
    color: white;
}

.f_questions h3 {
    text-align: center;
    margin: auto;
    padding: 5px 5px 5px 5px;
    background-color: #B1B1B1;
    border-radius: 10px;
}

.query_header {
    margin-top: 35px;
    background-color: #E5E1E1;
    display: table;
    padding: 10px 10px 10px 10px;
    float: right;
    margin-right: 10px;
    width: 500px;
    height: 250px;
    text-align: center;
    color: white;
}

.query_items Button {
    margin-top: 123px;
}

.query_items input {
    border-radius: 10px;
    border: none;
    padding: 5px 5px 5px 5px;
    display: table;
    background-color: #C4C4C4;
    color: white;
    text-align: center;
}

.pastauctions-box {
    background-color: #E6E6E6;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    width: 700px;
    height: 750px;
    float: right;
    margin-top: -690px;
}

.pastauctions-input {
    background-color: #C4C4C4;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    width: 50%;
    text-align: center;
    height: 730px;
    float: right;
}